/* .swal-footer {
    background-color: #806f3f;
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
  } */

  /* .swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  } */

 .rmc-student-events{
   /* background:green; */
   background: white!important;
   border-left: 10px solid green;
   color: black;
 }

 .rmc-master-calendar {
   /* background: brown!important; */
   background: white!important;
   border-left: 10px solid brown;
   color: black;
 }
 
 .rmc-alumni-events {
   background: teal!important;    
 }

 #rmc-master-calendar-button{
  border:1px solid brown!important;
  border-left: 10px solid brown!important;
}
#rmc-student-events-button {
  border: 1px solid green!important;
  border-left: 10px solid green!important;
}
 #rmc-alumni-events-button{
   border: 1px solid teal!important;
   border-left: 10px solid teal!important;
 }

 #calendar-nav-ul {
   padding-left: 0px;
   list-style-type: none;
 }
 #calendar-nav-ul li{
margin: 7px 0px;
 }



 .mbEh {
   margin-bottom: 4rem;
 }

/* for when click source butons can tell clicked */
/* .btn-default.focus, .btn-default:focus{ */
  .available-calendar-btn:focus {
  background: white!important;
}


.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
	color: #333;
	background-color: #d4d4d4!important;
	border-color: #8c8c8c;
}

/* Messing around with actual calendar defaults */
.fc-day-top,  {
  height: 18px;
  max-height: 18px;
}
.fc-day-number {
  font-size: 16px;
}
.fc-day-header{
  height:22px;
  font-size: 18px;
}
.fc-title {
  font-size: 14px;
  padding: 5px;
}
.fc-event:hover, .fc-event:focus {
  color:black;
  background:#999!important;
}
.fc-day-top {
  background: rgb(238, 230, 231)!important;
}
.fc-list-item-title {font-size: 16px;padding:10px 0px;}

.fc-event-dot {
  display:none;
}
.fc-time {
  color: #555;
}
 
.fc-day-grid-event {
  padding: 5px !important;
  text-overflow: ellipsis;
  white-space: pre-line;
}